/* ------------------------MAIN-CALC----------------- */

.calculator {
    margin-bottom: 450px;
}

.calc__inner {
    display: grid;
    grid-template-columns: .87fr 1fr;
    margin-top: 100px;
    gap: 35px;
}

.calc__title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.calc__title-title {
    align-self: center;
    width: 660px;
}

.calc {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-left: 8px;
}


.calc__self {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    gap: 20px;
}

.calc__self span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #000;
}


.select-btn .icon-arrow {
    font-size: 25px;
}


.calc__select {
    font-family: var(--font-family);
    font-size: 15px;
    border: 1px solid #726e6e;
    border-radius: 5px;
    height: 50px;
    padding-left: 25px;
    color: var(--main-color);
    background: #f9f9f9;
}

.custom-select {
    position: relative;
}

.custom-arrow {
    background: #f9f9f9;
    display: inline-block;
    top: 53px;
    right: 4px;
    width: 25px;
    height: 34px;
    position: absolute;
}

.custom-bg {
    width: 21px;
    height: 40px;
    background: red transparent;
    position: absolute;
    top: 0;
    right: 23px;

}

.custom-arrow-2 {
    background: #f9f9f9;
    display: block;
    top: 160px;
    right: 5px;
    width: 30px;
    height: 34px;
    position: absolute;
}

.calc__square {
    font-size: 18px;
    padding-left: 5px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
}

.calc__square-title {
    margin-top: 30px;
    margin-bottom: 40px;
}

.calc__container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-label {
    font-size: 14px;
    margin: 0 10px;
}

.calc__container-slider {
    -webkit-appearance: none;
    appearance: none;
    margin-left: 5px;
    width: 100%;
    height: 8px;
    background: transparent;
    position: relative;
    margin: 0;
}

.calc__container-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: transparent;
}


.calc__container-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--main-color-2);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-top: -4px;
}


.calc__container-slider::before {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 0;
    height: 3px;
    background: var(--main-color-2);
    z-index: 0;
    transform: translateY(-50%);
    width: var(--fill-percentage, 50%);
}

.calc__container-slider::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    top: 50%;
    right: 0;
    height: 3px;
    background: lightgray;
    z-index: 0;
    transform: translateY(-50%);
    width: calc(100% - var(--fill-percentage, 50%));
}

.slider-value {
    position: absolute;
    background: white;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    transform: translate(-50%, -120%);
    white-space: nowrap;
    font-size: 12px;
    pointer-events: none;
    box-shadow: 0 0 0 1px var(--main-color);
}

.calc__minmax {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}

#total-price {
    font-weight: bold;
}

.calc__option {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 40px;
    line-height: 19px;
    color: #593f0d;
}

.calc__eq {
    padding-top: 40px;
    font-size: 21px;
}

.calc__result {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.calc__wolf {
    position: relative;
    /* margin-right: 130px; */
    margin-left: 120px;
    /* padding-right: 130px; */
}

.calc__img {
    min-width: 660px;
    max-width: 100%;
    width: 100%;
    height: 800px;
    border-radius: 3px;
}

.calc__img-filler {
    position: absolute;
    bottom: -46%;
    right: -12%;
}

.calc__form {
    margin-top: 30px;
}

.calc__form-input {
    font-family: var(--font-family);
    font-size: 15px;
    border: 1px solid #726e6e;
    border-radius: 5px;
    height: 50px;
    padding-left: 25px;
    color: var(--main-color);
    background: #f9f9f9;
    width: 100%

}

.iti {
    width: 100%;
    /* min-width: 493px; */

}

.calc__form-title {
    margin-top: 30px;
    padding-bottom: 10px;
}

.calc__button {
    width: 320px;
    height: 78px;
    margin-top: 45px;
    position: relative;
}





















